body,
html {
    font-family: Quicksand, sans-serif !important;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    background-color: #003366;
    /* Navy untuk navbar */
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
    /* Putih saat hover */
}

/* Mengubah warna teks nav-item aktif menjadi putih */
.navbar-nav .nav-item.active .nav-link {
    color: #fff !important;
}

/* Logout link */
.logout a {
    display: flex;
    align-items: center;
    color: #f5f5dc;
    font-size: 15px;
    text-decoration: none;
}

.logout a:hover {
    color: #ffffff;
}

.logout a span {
    margin-right: 2px;
    /* Jarak antara ikon dan teks */
    font-size: 15px;
    /* Sesuaikan ukuran ikon */
}

/* Carousel */
.carousel-inner {
    border-radius: 10px;
}

.carousel-item img {
    border-radius: 10px;
}

footer {
    margin-bottom: 0;
    background-color: #003366;
    position: relative;
    font-size: 1rem;
}

.container {
    margin-top: 50px;
}

/* Styling untuk welcome message */
.container h2 {
    color: var(--navy);
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}